@charset "UTF-8";

:root {
    --default-font: "Alice", serif;
    --bg-color: #573824;
    --surface-color: #F0E8C2;
    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-on-bg: #F0E8C2;

    font-family: var(--default-font);
}

body{
    background-image: url(Assets/bg-image.jpg);
    background-size: cover;
}

#page {
    box-sizing: border-box;
    margin: 48px auto;
    padding: 24px;
    max-width: 800px;
    border-radius: 24px;
    background-color: var(--surface-color);
}

img{
    border-radius: 16px;
    width: 100%;
}

h1 {
    font-size: 40px;
    color: var(--text-color-primary);
}

h2 {
    font-size: 24px;
    color: var(--text-color-primary);
}

p,li {
    font-size: 16px;
    color: var(--text-color-secondary);
}